* {
  box-sizing: border-box;
}
body {
  margin: 0;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

 
 
}

.Home h1 {
  color:black;
  padding-left:  55px; 
  padding-top: 25px;
}

.Home p{
  color:black;
  padding-left:  55px; 
  
}

.Home {
  background-image: url(https://wallpapercave.com/wp/wp4288360.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
  margin-top: -22px;
}

.Home img {
  max-width: 1000px;
}

.About p{
  color:black;
}


button{
  background-color: rgb(21, 20, 20);
  padding: 4px;
  border-radius: 5px;
  color: rgb(221, 198, 23);
  border: 1px solid rgb(25, 24, 24);
}

